<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd    
	http://www.springframework.org/schema/context     http://www.springframework.org/schema/context/spring-context.xsd  
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<!--<bean class="com.mongodb.MongoURI" id="mongoURI">
		<constructor-arg value="${canal.mongodb.url}"  />
	</bean>-->
	<!--原始聚合数据-->
	<mongo:db-factory id="naiveMongoDbFactory" host="${canal.mongodb.url}" port="${canal.mongodb.port}"
					  dbname="${canal.mongodb.naive.db}"/>
	<bean id="naiveMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="naiveMongoDbFactory" />
	</bean>

	<!--处理错误日志-->
	<mongo:db-factory id="errorLogMongoDbFactory" host="${canal.mongodb.url}" port="${canal.mongodb.port}"
					  dbname="${canal.mongodb.errorlog.db}"/>
	<bean id="errorLogMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="errorLogMongoDbFactory" />
	</bean>

</beans>
